header {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px
}

a {
    margin: 0 10px;
    color: #ffffff;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    font-size: 25px;
    color: white;
    font-family: 'Helvetica';


}

.active {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

h1{
    font-size: 40px;
    font-weight: bold ;
    font-family: 'Arial';
    margin-bottom: 30px;
    color: rgb(255, 255, 255);
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5vh;
}

/* header.component.css */
header {
    background-color: rgb(156, 31, 31);
    color: white; /* Vous pouvez également spécifier la couleur du texte si nécessaire */
    padding: 10px; /* Ajoutez un peu d'espacement pour améliorer l'apparence */
  }
  