<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

<header>
  <h1>OptiSage</h1>  

  <input type="file" id="fileInput" style="display: none;" (change)="uploadFile($event)">
  <label class="file-button" for="fileInput">Importer CSV
    <span class="material-icons">file_download</span>
  </label>
  
  <button class="export" (click)="onExportClick()">Export CSV</button>

  <p *ngIf="fileName.length > 0">File Imported: {{ fileName }}</p>

  <!-- Bouton pour supprimer les données CSV -->
  <button class="Supprimer" (click)="onDeleteClick()">
    Supprimer
    <span class="material-icons">delete</span>
  </button>
</header>
