header {
    text-align: center;
    background: linear-gradient(90deg, #ada9a9, #709b70);
    margin-bottom: 20px;
    padding: 10px
}

a {
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    font-size: 25px;
    color: white;
    font-family: 'Helvetica';


}

.active {
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

h1{
    font-size: 40px;
    font-weight: bold ;
    font-family: 'Helvetica';
    margin-bottom: 30px;
    color: white;
}