/* Styles pour le header */
header {
    background-color: rgb(122, 22, 22);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles pour le titre h1 */
h1 {
    margin-left: 10px;
    position: relative;
}

/* Styles pour la barre verticale du titre h1 */
h1::after {
    content: "";
    width: 2px;
    height: 40px;
    background-color: white;
    position: absolute;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
}

/* Styles pour le bouton "Tab" */
.tab {
    color: #ccc; /* Couleur du texte par défaut (gris) */
    position: relative;
    font-size: 20px;
    /* Augmente la taille de la police */
    left: -50px;

    /* Effet de survol */
    cursor: pointer;
    /* Change le curseur en une main pointant vers le haut */
}

.tab:hover {

    color: #ffffff;
    /* Augmente la taille du texte en survol */
}

/* Styles pour le bouton "App" */
.app {
    color: #ccc; /* Couleur du texte par défaut (gris) */
    position: relative;
    left: -500px;
    /* Ajustez la valeur négative pour déplacer vers la gauche */
    font-size: 20px;
    /* Augmente la taille de la police */

    /* Effet de survol */
    cursor: pointer;
    /* Change le curseur en une main pointant vers le haut */
}

.app:hover {
    color: #fff; /* Couleur du texte en survol (blanc) */    /* Augmente la taille du texte en survol */
}

.import {
    color: #ccc; /* Couleur du texte par défaut (gris) */
    background-color: transparent; /* Couleur de fond transparente */
    border: none; /* Supprimez la bordure par défaut si nécessaire */
    cursor: pointer; /* Changez le curseur en une main pointant vers le haut */
    font-size: 20px; /* Augmente la taille de la police */
    margin-left: 2%;
}

.export {
    color: #ccc; /* Couleur du texte par défaut (gris) */
    background-color: transparent; /* Couleur de fond transparente */
    border: none; /* Supprimez la bordure par défaut si nécessaire */
    cursor: pointer; /* Changez le curseur en une main pointant vers le haut */
    font-size: 20px; /* Augmente la taille de la police */
    margin-right: 400px;

}

/* Styles au survol des boutons "Importer" et "Exporter" */
.import:hover {
    color: #fff; /* Couleur du texte en survol (blanc) */

}

.export:hover {
    color: #fff; /* Couleur du texte en survol (blanc) */
}