<!-- Dans app-sage2.component.html -->
<!-- Dans app-sage2.component.html -->
<!-- Dans app-sage2.component.html -->
<p-menubar [model]="mainMenuItems"></p-menubar>
<p-megaMenu [model]="displayedMegaMenuItems" orientation="vertical" *ngIf="displayedMegaMenuItems.length">
  <ng-template let-item pTemplate="item">
    <div *ngIf="!item.routerLink" class="menuitem-content">
      <!-- Encapsulez uniquement le nom dans un div cliquable pour ouvrir les détails -->
      <div (click)="openFunctionDetails(item.code)" style="cursor: pointer;">
        {{ item.label }}
      </div>
      <!-- Bouton pour changer le statut, avec event.stopPropagation pour éviter les conflits de clic -->
      <button *ngIf="item.code" class="round-button" (click)="toggleStatus($event, item.code)"
        [ngClass]="{'green-text': isPresent(item.code) === 'present', 'red-text': isPresent(item.code) === 'absent', 'gray-text': isPresent(item.code) === 'unknown'}"
        style="cursor: pointer;">
        <span class="material-icons">circle</span>
      </button>
    </div>
  </ng-template>
</p-megaMenu>


<!-- In app-sage2.component.html -->
<p-dialog header="Détails de la Fonction" [(visible)]="displayDialog" [modal]="true" [style]="{width: '50vw'}" (onHide)="cancelChanges()">
  <div *ngIf="selectedItemData && selectedItemData.length" class="dialog-body">
    <h3>{{ selectedItemData[0]?.function }} Détails</h3>
    <p-tabView>
      <p-tabPanel *ngFor="let config of selectedItemData; let i = index" [header]="'Configuration ' + (i + 1)">
        <div class="form-group">
          <label for="access-{{i}}">Accès :</label>
          <select id="access-{{i}}" [(ngModel)]="config.access" class="form-control">
            <option value="2">Oui</option>
            <option value="1">Non</option>
          </select>
        </div>
        <div class="form-group">
          <label for="options-{{i}}">Options :</label>
          <input id="options-{{i}}" [(ngModel)]="config.options" type="text">
        </div>
        <div class="form-group">
          <label for="profileCode-{{i}}">Code Profil :</label>
          <input id="profileCode-{{i}}" [(ngModel)]="config.profileCode" type="text" readonly>
        </div>
        <div class="form-group">
          <label for="menu-{{i}}">Menu :</label>
          <select id="menu-{{i}}" [(ngModel)]="config.menu" class="form-control">
            <option [value]="'1'">1</option>
            <option [value]="'2'">2</option>
          </select>
        </div>
        <div class="form-group">
          <label for="sites-{{i}}">Sites :</label>
          <input id="sites-{{i}}" [(ngModel)]="config.sites" type="text">
        </div>
      </p-tabPanel>
    </p-tabView>
    <div class="dialog-actions">
      <button type="button" pButton label="Add Configuration" (click)="addConfiguration()" class="ui-button-secondary"></button>
      <button type="button" pButton label="Cancel" (click)="cancelChanges()" class="ui-button-text-only"></button>
      <button type="button" pButton label="Save" (click)="saveChanges()" class="ui-button-primary"></button>
    </div>
  </div>
</p-dialog>














<!-- Ajouté pour le sous-sous-menu 'Vérifications' -->
<p-tieredMenu [model]="utilitairesSubMenuItems" *ngIf="showUtilitairesSubMenu"></p-tieredMenu>
<p-tieredMenu [model]="gestionTaxesSubMenuItems" *ngIf="showGestionTaxesSubMenu"></p-tieredMenu>
<p-tieredMenu [model]="declarationEchangeBienTaxesSubMenuItems"
  *ngIf="showDeclarationEchangeBienTaxesSubMenu"></p-tieredMenu>
<p-tieredMenu [model]="AutresDeclarations" *ngIf="showAutresDeclarationsSubMenu"></p-tieredMenu>
<p-tieredMenu [model]="Audit" *ngIf="showAuditSubMenu"></p-tieredMenu>