
<table>
 
    <tr>
        <th>Resp</th>
        <th>FNC_O</th>
        <th>ACS_O</th>
        <th>OPT_O</th>
        <th>PRFCOD_O</th>
        <th>FCYGRUCOD_O</th>
        <th>FCYGRU</th>
        <th>802</th>
    </tr>


<tr><td> - </td> <td>GESNWC</td><td>2 </td><td>CMS </td><td> AVRSP </td>
    <td> 1 </td> <td>AVIAC</td><td>1 </td></tr>

<tr><td> - </td> <td>GESNWC</td><td>2 </td><td>CMS </td><td> AVRSP </td>
    <td> 1 </td> <td>AVIAC</td><td>1 </td></tr>
        
<tr><td> - </td> <td>GESNWC</td><td>2 </td><td>CMS </td><td> AVRSP </td>
    <td> 1 </td> <td>AVIAC</td><td>1 </td></tr>  
<tr><td> - </td> <td>GESNWC</td><td>2 </td><td>CMS </td><td> AVRSP </td>
     <td> 1 </td> <td>AVIAC</td><td>1 </td></tr> 
</table>
